main{
    font-family:monospace;
    animation: slideIn;
    animation-duration: 5s;
}
@media screen and (min-width: 30em) and (orientation: landscape) {
    /* … */
  }
.animation {
    animation: vibrate 0.3s linear infinite both;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .animation {
      animation: none;
    }
  }
  
@keyframes fadeIn{
    50%{opacity:0};
}
@keyframes slideIn{
    from{transform: translateX(150%);}
}
#picme{
    float: right;
    width: 200px;
    height: 250px;
    padding: 5px;
    border: solid;
    border-color:rgba(98, 94, 102, 0.418);
    border-radius: 30px;
    margin-right: 20px;
}
a:link{
    text-decoration: none;
}
body {
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
}
#modetoggle{
  border-radius: 30px;
  background-color: rgb(121, 121, 121);
  color: white;
  float: right;
  transform: translateY(-180px)
}
#moonicon{
  float: right;
  transform: translateY(-180px);
}
#flexcontainer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
#box1,#box2,#box3{
  width: 345px;
  height: 50vh;
  background-color:rgb(206, 216, 224);
  border-radius: 30px;
  text-align: center;
}
#img1,#img2,#img3{
  width:300px;
  height: 200px;
  border-radius: 30px;
  margin: 20px;
}
header{
  height: 90vh;
}
a:visited{
  text-decoration-color: white;
}